/* Universal Selector Properties */
:root {
    /* Monocromatic Slate Gray */
    --dark3: #121f1f;
    --dark2: #1c2f2f;
    --dark1: #253f3f;
    --med:#2f4f4f;
    --light3: #395f5f;
    --light2:#426f6f;
    --light1: #4c7f7f;
}

* { 

}

body {
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    line-height: 1;
    color: var(--dark3);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark2);
    color: white;
}

.nav-header {
    display: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark3);
    color: white;
}

h1 {
    font-size: 175%;
    
}

h1 a {
    display: inline-block;
    text-decoration: none;
}

h1 a:visited {
    color: white;
}

h2 {
    margin: 2% 0;
    font-size: 250%;
}

a {
    display: inline-block;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    min-width: 60px;
}

nav a {
    float: left;
    background-color: unset;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover {
    color: var(--light1);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section .card {
    flex: 0 0 400px;
    background-color: white;
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px
}

.bio-div {

}

.img-div {
    display: inline-block;
    vertical-align: top;
}

.text-div {
    display: inline-flex;
}

.portrait {
    padding: 25px;
    height: 407px;
    width: 366px;
    border-color: var(--dark3);
    border-radius: 100%;
    border-width: 15px;

}

.card {
    padding: 20px 10px;
    border: 2px solid var(--light2);
    background-color: var(--light1);
}
/* ul .top {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;
} */

/* .section-title {
    font-style: bold;
    font-size: 250%;

}

.section-heading {
    font-style: bold;
    font-size: 150%;

}

.section-topic {
    font-style: bold;
    font-size: 100%
}

.section-info {
    font-style: italic;
    font-size: 100%;
} */

footer {
    background-color: teal;
}